<%= simple_form_for @service_provider, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zipcode %>
  <%= f.input :latitude %>
  <%= f.input :longitude %>
  <%= f.input :phone %>
  <%= hidden_field_tag "service_provider[service_type_ids][]", nil%>
  <% ServiceType.all.each do |service_type| %>
      <%= check_box_tag "service_provider[service_type_ids][]", service_type.id, @service_provider.service_type_ids.include?(service_type.id), id: dom_id(service_type) %>
      <%= label_tag dom_id(service_type), service_type.name %><br/>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                service_providers_path, :class => 'btn' %>
  </div>
<% end %>
