<%= simple_form_for @service_provider, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zipcode %>
  <%= f.input :latitude %>
  <%= f.input :longitude %>
  <%= f.input :phone %>
  <%= hidden_field_tag "service_provider[service_type_ids][]", nil%>
  <%= f.association :service_types, as: :check_boxes %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                service_providers_path, :class => 'btn' %>
  </div>
<% end %>
