<!DOCTYPE html>
<html>
<head>
  <title>HYServiceDirectory</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">HY Dir</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Providers", service_providers_path %></li>
          <li><%= link_to "Service Types", service_types_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% if user_signed_in? %>
                  <%= current_user.email %>
              <% else %>
                  User
              <% end %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                  <li><%= link_to "Log In", new_user_session_path %></li>
                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% flash.each do |name, msg| %>
      <div class="alert alert-<%=(flash[:notice] && 'success' or flash[:warning] && 'warning' or flash[:info] && 'info' or 'error')%>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
